/* Tags */
table, th, td {
    border: 3px solid black;
}
th, td {
    padding: 15px;
}

/* Classes */
.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("http://www.feedicons.com/images/standard-icons.gif") no-repeat 0 50%;
} 
